<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="preload" href="/assets/fonts/GothamRounded-Light/GothamRounded-Light.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="/assets/fonts/GothamRounded-Book/GothamRounded-Book.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.otf" as="font" type="font/otf" crossorigin>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name= "viewport">
    <meta content="AI chatbot, chatbot, DIY chatbot, Facebook Messenger bot, bot
    builder, chatbot platform, chatbot developer, marketing agency,
    small business, customer service, conversational AI, e-commerce, personalization, recommender, mobile app"
          name="keywords">

    {% set bootstrapcss %} 
      {% include "bootstrap.min.css" %} 
    {% endset %}
    <style>
      {{ bootstrapcss | safe }}
    </style>
    {% set jujicss %} 
      {% include "website.css" %} 
    {% endset %}
    <style>
      {{ jujicss | cssmin | safe }}
    </style>

    <script async="" src="/assets/js/lazysizes.min.js"></script>

    {% endblock %}

    {% seo "" %}
  </head>
  
  <body>
    <header>
      <div class="fixed-top" data-toggle="affix">
        {% block nav %}
        <div role="navigation"
             class= "navbar navbar-default navbar-expand-lg navbar-light
             bg-white"
             id="nav-1">
          <button type="button" class="navbar-toggler"
                                data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Juji Logo" class="logo"
                                 src="/assets/img/ui/ui--logo.png">
          </a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class=
                   {% if page.url == "/why-juji/" %}
                   "nav-link active-link"
                   {% else %}
                   "nav-link"
                   {% endif %}
                   href="/why-juji">
                  Why Juji
                </a>
              </li>

	      <li class="nav-item">
                <a class=
                   {% if page.url == "/juji-platform/" %}
                   "nav-link active-link"
                   {% else %}
                   "nav-link"
                   {% endif %}
                   href="/juji-platform">
                  Product
                </a>
              </li>

	      <li class="nav-item dropdown">
                <a aria-expanded="false"
                   aria-haspopup="true"
                   class="nav-link dropdown-toggle"
                   data-toggle="dropdown"
                   href="#"
                   id= "solutionsDropdown"
                   role="button">
                  Solutions
                </a>
		 
                <div class="dropdown-menu"
                     aria-labelledby="solutionsDropdown">
                  <a href="https://forum.juji.io/"
                     class="dropdown-item"
                     target="_blank">
                    Juji Forum
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="https://docs.juji.io/faq/"
                     class="dropdown-item"
                     target="_blank">
                    Juji FAQ
                  </a>
                </div>
	      </li>
		 
              <li class="nav-item">
                <a class=
                   {% if "/blog/" in page.url %}
                   "nav-link active-link"
                   {% else %}
                   "nav-link"
                   {% endif %}
                   href="/blog">
                  News & Blog
                </a>
              </li>

              <li class="nav-item">
                <a class=
                   {% if page.url == "/career/" %}
                   "nav-link active-link"
                   {% else %}
                   "nav-link"
                   {% endif %}
                   href="/career">
                  Careers
                </a>
              </li>

              <li class="nav-item">
                <a class=
                   {% if page.url == "/pricing/" %}
                   "nav-link active-link"
                   {% else %}
                   "nav-link"
                   {% endif %}
                   href= "/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://juji.ai/login">
                  Sign On
                </a>
              </li>
            </ul>
          </div>
        </div>
        {% endblock %}
      </div>
    </header>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="802085396544971"
         theme_color="#28BD8B"
         logged_in_greeting="Hey, I am Juji, your AI Helper. Cannot wait to chat!"
         logged_out_greeting="Hey, I am Juji, your AI Helper. Cannot wait to chat!">
    </div>

    {% block content %}
    {% endblock %}

    <section class="content-section bottom-action-area">
      <div class=container>
      <div class="jumbotron">
	<h1>Free Until You're Ready to Launch</h1>
	<h4 class="one-half-line-text">Build your chatbot free. Experience all premier features free. <br> Take as long as you need.</h4>
	
        <div class="bottom-action-content">
          <div class="bottom-action-btn-holder">
	    <a class="bottom-action-btn"
               href="https://juji.ai/signup" target="_blank">GET STARTED FREE</a>
	  </div>
        </div>
        
      </div>
      </div>
    </section>

    <footer>
      <div class="container">

	<!-- sticky side nav to show social media following-->

	<div class="side-nav">
				
	  <ul id="side-nav" class="side-nav-list">

	     <li>
	      <button type="button" class="side-nav-item">
		<a href="https://www.linkedin.com/company/juji" target="_blank">
		  <img class="lazyload social-icon" alt="linkedin icon" data-src="/assets/img/ui/linkedin-icon.png"></a>
	      </button>
	    </li>
	    
	    <li>
	      <button type="button" class="side-nav-item">
		<a href="https://www.facebook.com/juji.io/" target="_blank">
		   <img class="lazyload social-icon" alt="facebook icon" data-src="/assets/img/ui/facebook-icon.png"></a>
	      </button>
	    </li>

	    <li>
	      <button type="button" class="side-nav-item">
		<a href="https://twitter.com/juji_io?ref_src=twsrc%5Etfw" data-show-count="false">
		  <img class="lazyload social-icon" alt="twitter icon" data-src="/assets/img/ui/twitter-icon.png"> </a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
		</script>
	      </button>
	    </li>

	     <li>
	       <button type="button" class="side-nav-item">
		 <a href="/feed.xml">
		   <img class="lazyload social-icon" alt="feed icon" data-src="/assets/img/ui/feed.png" width="20" height="20"/>
		 </a>
	  </ul>
				
	</div>

	<div class="row align-items-top justify-content-between"
	     id="footer-row">
	  
	  <!--left panel for email subscription-->
          <div class="col-md-6 col-lg-3">
            <div class="footer-vertical">
              <div class="footer-vertical-heading">Stay Connected</div>
              <div id="subscribe-newsletter-block">
                <p>Get the latest news from Juji</p>
                <form action="https://sendy.juji-inc.com/subscribe" method="POST" accept-charset="utf-8">
                  <div style="display:none;">
                    <label for="hp">HP</label><br/>
                    <input type="text" name="hp" id="hp"/>
                  </div>
                  <input id="subscribe-newsletter__email" name="email" placeholder=
			 "Your e-mail" type="email">
		  
                  <input type="submit" Value="Subscribe" class="subscribe-newsletter__button" id="submit-btn"/>
		  
                  <input type="hidden" name="list" value="2GH6PnD3ltltrKvFNO7x0A"/>
                  <input type="hidden" name="subform" value="yes"/>
                </form>
              </div>
              
            </div> <!--end of footer vertical-->
          </div> <!--end of 1st col-->

	  <!--the right panel for the rest-->
	  <div class="col-md-6 col-lg-8">
	    <!-- first row-->
	    <div class="row align-items-top justify-content-center">
	      <!--Support-->
              <div class="col-md-4">
		<div  class="footer-vertical">
		  <div class="footer-vertical-heading">Support</div>
		  <ul class="navigation">
		    <li class="main-navigation__link">
		      <a href="https://forum.juji.io" target="_blank">Juji
			Forum</a>
		    </li>
		    <li class="main-navigation__link">
		      <a href="https://docs.juji.io/faq/" target="_blank">Juji
			FAQ</a>
		    </li>
		  </ul>
		  <p>support at(@) juji.io</p>
		</div>
              </div>
	 
	    <!--Resources-->
	      <div class="col-md-4" id="resources-block">
		<div  class="footer-vertical">
		  <div class="footer-vertical-heading">Resources</div>
		  <ul class="navigation">
		    <li class="main-navigation__link">
                      <a href="https://docs.juji.io/why-ai-chatbots/"
			 target="_blank">
			Beginners' Guide to AI Chatbots
                      </a>
		    </li>
		    
                    <li class="main-navigation__link">
                      <a href="https://docs.juji.io/tutorial/#"
			 target="_blank">
			Video Tutorials
                      </a>
		    </li>
		
                    <li class="main-navigation__link">
                      <a href="https://docs.juji.io/"
			 target="_blank">
			Documentation
                      </a>
		    </li>

		    <li class="main-navigation__link">
                      <a href="/publications"
			 target="_blank">
			Publications & Talks
                      </a>
		    </li>

		  </ul>
		</div> <!--footer vertical-->
	      </div> <!--col-->

	    </div> <!--end of first row-->


	    <div class="row align-items-top justify-content-center">
	      <!--contact block-->
              <div class="col-md-4" id="contact-block">
		<div  class="footer-vertical">
		  <div class="footer-vertical-heading">Contact</div>
		  <p>3165 Olin Ave.<br>
                    San Jose, CA 95117
		  </p>
		  <p>hello at(@) juji.io</p>
		</div>
              </div>

	      <!--Terms and Policies-->
              <div class="col-md-4">
		<div  class="footer-vertical">
		  <ul class="navigation">
                    <li class="main-navigation__link">
		      <a href=
			 "/util/juji-terms-of-service.pdf" target="_blank">Terms of
			Use</a></li>
                    <li class="main-navigation__link"><a href=
							 "/util/juji-privacy-policy.pdf" target="_blank">Privacy
			Policy</a></li>
		  </ul>
		</div>
              </div>
	      
            </div> <!--end of 2nd row for the right panel-->
	    
	  </div> <!--end of right panel-->
	</div> <!--row-->

	<!--copyright-->
        <div class="row justify-content-center">
	  
          <div class="col-md-12 one-half-line-text" id="footer-copyright">
	    <a class="navbar-brand" href="/">
              <img alt="Juji Logo" class="logo"
                   src="/assets/img/ui/ui--logo.png">
            </a> <br>
	    © 2020 Juji, Inc. All Rights Reserved.
	  </div>
        </div>
      </div>
    </footer>

    {% block endjs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script async="" src='https://www.google-analytics.com/analytics.js'></script>
    <script async-"" src='/assets/js/autotrack.js'></script>
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-113933244-1', 'auto', {allowLinker: true});
      ga('require', 'linkid');
      ga('require', 'cleanUrlTracker');
      ga('require', 'eventTracker');
      ga('require', 'impressionTracker');
      ga('require', 'maxScrollTracker');
      ga('require', 'outboundFormTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'pageVisibilityTracker');
      ga('require', 'urlChangeTracker');
      ga('require', 'linker');
      ga('linker:autoLink', ['juji.ai', 'forum.juji.io', 'docs.juji.io', 'juji.io'],
        false, false);
      ga('send', 'pageview');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '529136731353700');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1"
           width="1"
           style="display:none"
           src="https://www.facebook.com/tr?id=529136731353700&ev=PageView&noscript=1" />
    </noscript>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v6.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- End Facebook Pixel Code -->
    {% endblock %}
  </body>
</html>
