{% extends "blog/base.njk" %}


{% block content %}
    
    <div class="site-cover site-cover-sm same-height overlay single-page" 
         style="background-image: url('{{ image }}');">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
                <span class="{{ 'post-category text-white mb-3 ' 
                + categories[category].bgclass }}">
                  {{ category }}
                </span>
              <h1 class="mb-4">
                <a href="#article-start">{{ title }}</a></h1>
              <div class="post-meta align-items-center text-center">
                <figure class="author-figure mb-0 mr-3 d-inline-block">
                  <img src="{{ authors[ author ].pic }}" 
                       alt="{{ author }}" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">{{ author }}</span>
                <span>&nbsp;-&nbsp; {{ date | dateReadable }}</span>
                <span>&nbsp;-&nbsp; {{ content | readingTime }} read</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="site-section py-lg"  id="article-start">
      <div class="container">
        <div class="row blog-entries element-animate">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="post-content-body">
              {{ content | safe }}
            </div>
            <div class="pt-5">
              <p> 
                {% for tag in tags %}
                <a href="/blog/tags/{{ tag }}/" class="tag">{{ tag }}</a>
                {% endfor %}
              </p>
            </div>
            <div class="shariff" 
                 data-lang="en" 
                 data-button-style="icon"
                 data-theme="grey" 
                 data-mail-body="Checkout this great article: {url}"
                 data-mail-url="mailto:someone@you.love"
                 data-services="[&quot;twitter&quot;,&quot;facebook&quot;,&quot;whatsapp&quot;,&quot;tumblr&quot;,&quot;linkedin&quot;,&quot;reddit&quot;,&quot;mail&quot;]"> 
            </div>

          </div>

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="{{ authors[ author ].pic }}" 
                     alt="{{ author }}" class="img-fluid mb-5">
                <div class="bio-body">
                  <h2>{{ author }}</h2>
                  <p class="mb-4">{{ authors[ author ].bio }}</p>
                  <!--<p><a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a></p>-->
                  <!--<p class="social">-->
                    <!--<a href="#" class="p-2"><span class="fa fa-facebook"></span></a>-->
                    <!--<a href="#" class="p-2"><span class="fa fa-twitter"></span></a>-->
                    <!--<a href="#" class="p-2"><span class="fa fa-instagram"></span></a>-->
                    <!--<a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>-->
                  <!--</p>-->
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->  
            <div class="sidebar-box">
              <h3 class="heading">Related Posts</h3>
              <div class="post-entry-sidebar">
                {% include "blog/partials/related.njk" %}
              </div>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Tags</h3>
              <ul class="tags">
                {% for tag in collections.tagList %} 
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %} 
                <li> 
                  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
                </li> 
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- END sidebar -->

        </div>
      </div>
    </section>

    <!--{% include "blog/partials/category-latest.njk" %}-->

{% endblock %}

