{% extends "base.njk" %}

{% block head %}
  {{ super() }}
  {% include "blog/partials/css.njk" %}
{% endblock %}

{% block nav %}
  {{ super() }}
  {% include "blog/partials/nav.njk" %}
{% endblock %}

{% block endjs %}
  {{ super() }}
  {% include "blog/partials/endjs.njk" %} 
{% endblock %}
