
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="/assets/blog/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/assets/blog/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/blog/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/blog/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/blog/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/blog/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/blog/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/blog/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/blog/css/aos.css">

    <link rel="stylesheet" href="/assets/blog/css/style.css">
