---
pagination:
  data: collections.catPagination
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: blog/tag.njk
renderData:
  title: Juji {{ tag.tagName }}
permalink: /blog/{{ tag.tagName |  slug }}/{% if tag.pageNumber %}{{ tag.pageNumber + 1 }}/{% endif %}
---
