---
pagination:
  data: collections.articles
  size: 9
  alias: posts
layout: blog/home.njk
renderData:
  title: Juji Blog
permalink: /blog/{% if pagination.pageNumber %}{{ pagination.pageNumber + 1 }}/{% endif %}
---
