
    <div class="site-section bg-white">
      <div class="container">
        {% if page.url == "/blog/" %}
        <div class="row mb-5">
          <div class="col-12">
            <h2>Recent Posts</h2>
          </div>
        </div>
        {% endif %}
        <div class="row">
          {% for post in posts %}
            {% include "blog/partials/postlist-entry.njk" %}
          {% endfor %}
          </div> 
          {% include "blog/partials/paging-nav.njk" %}
        </div>
    </div>
  
