
    <div class="site-section bg-white">
      <div class="container">
        <div class="row">
          {% for post in tag.pageData | reverse %}
            {% include "blog/partials/postlist-entry.njk" %}
          {% endfor %}
          </div> 
          {% include "blog/partials/tag-paging-nav.njk" %}
        </div>
    </div>
  
