
    <div class="bg-light tag-page-head">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!--<span>Category</span>-->
            <h3>{{ tag.tagName }}</h3>
            <p>{{ categories[ tag.tagName ].description }}</p>
          </div>
        </div>
      </div>
    </div>

